[submodule "externals/pybind11"]
	path = externals/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "externals/Catch2"]
	path = externals/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "externals/json"]
	path = externals/json
	url = https://github.com/nlohmann/json.git
[submodule "externals/tbb"]
	path = externals/tbb
	url = https://github.com/wjakob/tbb.git
